{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<h1><font size ="20">Meet Phil:<h1>
  <ol><font size ="5">Accomplishments
  <li>Plan to graduate with a total GPA of 3.5</li>
  <li>Successfully Completed Information Systems Internship</li>
  <li>Create This Website</li>
  </ol>

<ol><font size ="5">Prior Work Experience
  <li>WESTMED Practice Partners Analylitcs Team</li>
  <li>Internatinal Snackbar Company Manager</li>
<p><center><img src="{% static "images/aboutmepic.png" %}"></center></p>
{% endblock %}