{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1><center>Phil DiBuono</center></h1>
  <p><h2><center>Computer Information Systems Major - <a href="https://www.linkedin.com/profile/view?id=AAIAABM6K24BtX94pUT4z-Qq09EM1Q0tMjoiDLE&trk=nav_responsive_tab_profile">My LinkedIn Profile</a> - Hard Work and Dedication Conquers All</center></h2></p>
</div>
<div class="buttons-span">
  <p><h2>Please choose one of the following:</h2></p>
  <p id="buttons"><a href="{% url 'contact_create' %}" class="btn btn-lg btn-danger">Message Me</a></p>
  <p id="buttons"><a href="https://www.dropbox.com/s/g7wz9v36ug42fwx/DiBuono_Philip_Resume_Updated.docx?dl=0" class="btn btn-lg btn-danger">Resume</a></p>
  <p id="buttons"><a href="{% url 'aboutme' %}" class="btn btn-lg btn-danger">About Me</a></p>
</div>
{% endblock %}